* {
	outline: none;
}

body {
	background-repeat: no-repeat;
	background-image: url('https://wallpapercave.com/wp/wp3006229.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

nav {
text-align: center;
padding: 10px;
background: #333333;
}

nav h1 {
color: #FFFFFF;
}

nav ul {
font-size: 0;
margin: 0;
}

nav ul li {
display: inline-block;
padding: 0 5px;
}

nav ul li a {
font-size: 16px;
color: #FFFFFF;
}

nav ul li a:hover {
color: #FFFFFF;
opacity: .5;
text-decoration: none;
}



nav ul li.active {
background: #FFFFFF;
opacity: .5;
}

nav ul li.active a {
color: #000000;
}



.container {
width: 100%;
max-width: 1100px;
margin: 0 auto;
text-align: center;
padding: 20px;
}

.container ul.orphanage {
width: 100%;
margin: 0;
font-size: 0;
}

.container ul.orphanage li.orphanrow {
border-bottom: 1px solid #999999;
}

.container ul.orphanage li.orphanrow ul {
width: 100%;
margin: 0;
font-size: 0;
}

.container ul.orphanage li.orphanrow ul:nth-child(odd) {
background: rgba(245,245,245,.85);
}

.container ul.orphanage li.orphanrow ul li {
display: inline-block;
vertical-align: top;
font-size: 16px;
color: #191416;
text-align: left;
padding: 5px 10px;
/* border-bottom: 1px solid #999999; */
}

.container ul.orphanage li.orphanrow ul.header {

}


/* list eleve */
.container ul.orphanage li.orphanrow ul.header li.child {
font-weight: bold;
color: #FFFFFF;
background: rgba(0,0,0,.75);
}

.container ul.orphanage li.orphanrow ul.children {

}

.container ul.orphanage li.orphanrow ul.children li.child.action {
text-align: center;
}

.container ul.orphanage li.orphanrow ul.children li.child.action a img {
display: inline-block;
width: 18px;
height: auto;
margin: 0 5px;
}

img {
display: inline-block;
width: 32px;
height: auto;
margin: 0 5px;	
}

.container ul.orphanage li.orphanrow ul li.child:nth-child(1) {
width: 20%;
}

.container ul.orphanage li.orphanrow ul li.child:nth-child(2) {
width: 20%;
}

.container ul.orphanage li.orphanrow ul li.child:nth-child(3) {
width: 20%;
}

.container ul.orphanage li.orphanrow ul li.child:nth-child(4) {
width: 20%;
}

.container ul.orphanage li.orphanrow ul li.child:nth-child(5) {
width: 20%;
}


/* list Houses */
.container ul.orphanage li.orphanrow ul.header li.house {
font-weight: bold;
color: #FFFFFF;
background: rgba(0,0,0,.75);
}

.container ul.orphanage li.orphanrow ul.children {
}

img {
display: inline-block;
width: 32px;
height: auto;
margin: 0 5px;	
}

.container ul.orphanage li.orphanrow ul li.house:nth-child(1) {
width: 25%;
}

.container ul.orphanage li.orphanrow ul li.house:nth-child(2) {
width: 25%;
}

.container ul.orphanage li.orphanrow ul li.house:nth-child(3) {
width: 25%;
}

.container ul.orphanage li.orphanrow ul li.house:nth-child(4) {
width: 25%;
}




.container #formChild {
width: 100%;
max-width: 300px;
margin: 0 auto;
padding: 15px;
background: rgba(245,245,245,.85);
}

.container #formChild ul {
margin: 0 auto;
}

.container #formChild ul li {
padding: 0 0 10px 0;
}

.container #formChild ul li label {
display: block;
text-align: left;
}

.container #formChild ul li input[type="text"], .container #formChild ul li input[type="number"] {
width: 100%;
height: 32px;
padding: 3px 10px;
border: 1px solid #999999;
-webkit-border-radius: 32px;
border-radius: 32px;
}

.container #formChild ul li:last-child {
text-align: right;
}

.container #formChild ul li input[type="submit"] {
width: auto;
padding: 3px 10px;
border: 1px solid #999999;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.container #formChild .backLink {
text-align: left;
}

.container #formChild .backLink a {
color: #191416;
text-decoration: none;
}


.container .vcard {
width: 100%;
max-width: 450px;
margin: 0 auto;
padding: 15px;
background: rgba(245,245,245,.85);
-webkit-border-radius: 8px;
border-radius: 8px;
}

.container .vcard .linkEdit {
text-align: right;
}

.container .vcard .linkEdit a {
color: #191416;
text-decoration: none;
}
